* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f9;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures body takes up at least the full height of the screen */
}

header {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

header .logo img {
    height: 50px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    transition: color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    color: #ff6347;
    transform: scale(1.1);
}

section {
    padding: 80px 20px 40px;
    text-align: center;
    margin-top: 60px; /* to avoid header overlap */
    flex: 1; /* This ensures the content section takes up remaining space */
}

section h2 {
    margin-bottom: 20px;
}

section p {
    margin-bottom: 20px;
    font-size: 1.1em;
}

form {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #e53e36;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    width: 100%;
    position: relative;
    bottom: 0;
}
